[class^="con"]{
    color: #ffd5cd;
    background-color: #8675a9;
    min-width: 500px;
}

[class^="col"]{
    color: #8675a9;
    background-color: #ffd5cd;
    border: 5px;
    border-radius: 5px;
    padding: 10px ;
    margin: 0px 5px 0px 5px;
}

[class^="row"]{
    border: 2px solid #fff;
    min-height: 300px;
    background-color: #8675a9;
    padding: 20px;
    border-radius: 5px;
}