[class^="con"]{
    color: #ffd5cd;
    background-color: #8675a9;
}

[class^="col"]{
    color: #8675a9;
    background-color: #efbbcf;
    border: 5px 5px 5px 5px;
    border-color: #fff;
}

[class^="row"]{
    border: 2px solid #fff;
    min-height: 300px;
}